@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .flex-start-center {
    @apply flex items-start justify-center;
  }
  .flex-end-center {
    @apply flex items-start justify-center;
  }
  .flex-start {
    @apply flex items-start justify-start;
  }
  .flex-end {
    @apply flex items-end justify-end;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
